<md-content flex>
  <div layout="column" layout-fill layout-padding>
    <div class="inset" hide-sm></div>
    <div layout="row" layout-align="center center">
      <div flex-gt-sm="90" flex-gt-md="80">
        <h2 class="inset">
          <div class="md-title">
            LDAP Authentication
          </div>
          <div class="md-subhead">
            Used to authenticate Radioactive users
          </div>
        </h2>
        <md-card class="inset">
          <div layout="row">
            <md-input-container flex="45">
              <label>Server <i>(ex: ldap.example.com)</i></label>
              <input type="text" ng-model="controller.ldap.server" required="required">
            </md-input-container>
            <md-input-container flex="20">
              <label>Port <i>(ex: 389)</i></label>
              <input type="number" ng-model="controller.ldap.port" required="required">
            </md-input-container>
            <md-select placeholder="Encryption" ng-model="controller.ldap.encryption" flex>
              <md-option value="none" ng-selected="selected">None</md-option>
              <md-option value="tls">StartTLS</md-option>
              <md-option value="ldaps">LDAPS</md-option>
            </md-select>
          </div>
          <md-switch ng-if="controller.ldap.encryption == 'ldaps'" ng-model="controller.ldap.validate_ssl" aria-label="TLS Cert">Verify server name on certificate</md-switch>
          <md-input-container ng-if="controller.ldap.cert == 1">
            <label>Certification authority (CA) certificate <small class="text-sm">(optional)</small></label>
            <textarea ng-model="controller.ldap.cacert" columns="1"></textarea>
          </md-input-container>
          <md-input-container>
            <label>Domain search user <i>(ex: cn=ldap,ou=People,dc=github,dc=com)</i></label>
            <input type="text" ng-model="controller.ldap.search_user" required="required">
          </md-input-container>
          <md-input-container>
            <label>Domain search password</label>
            <input type="password" ng-model="controller.ldap.search_pass" required="required">
          </md-input-container>
          <md-input-container>
            <label>Domain base <i>(ex: ou=People,dc=github,dc=com)</i></label>
            <input type="text" ng-model="controller.ldap.base_dn" required="required">
          </md-input-container>
        </md-card>
        <h2 class="inset">
          <div class="md-title">
            LDAP User Fields
          </div>
          <div class="md-subhead">
            The LDAP fields your company uses for user info
          </div>
        </h2>
        <md-card class="inset">
          <md-input-container>
            <label>Name Field <i>(ex: name)</i></label>
            <input type="text" ng-model="controller.ldap.name_field" required="required">
          </md-input-container>
          <md-input-container>
            <label>Email Field <i>(ex: email)</i></label>
            <input type="text" ng-model="controller.ldap.email_field" required="required">
          </md-input-container>
          <md-input-container>
            <label>Member of Field <i>(ex: memberOf)</i></label>
            <input type="text" ng-model="controller.ldap.member_of_field" required="required">
          </md-input-container>
        </md-card>
        <div class="md-actions" layout="row" layout-align="start center">
          <md-button class="md-accent md-raised">Save</md-button>
          <md-button class="md-raised">Cancel</md-button>
        </div>
      </div>
    </div>
</md-content>
